/* Project-Wilder stylesheet */

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  text-align: center;
  color: white;
	width:100%;
  height:100%;
  /* background: transparent; */
	/* background:#000044; */
  background-image: url("spacebkgnd.png");
  background-repeat: repeat;
}

div.searchPage {
  display: block;
}

div.collectionPage {
  display: none;
}

header, .container {
  /* padding-top: 2em; */
  background: transparent;
  /* background-image: url("spacebkgnd.png"); */
  /* background-repeat: repeat; */
}

.transport {
  margin-top: 100px;
  height: 60px;
  width: 60px;
}
.button {
  margin-top: 5px;
  /* height: 40px; */
  width: 150px;
}
.transport, .button {
  background-color: #2244ff;
  border: 1px solid white;
  color: white;
  text-align: center;
  font-size: 1.2em;
  line-height: 1.5;

}

.waves-effect.waves-blue {
  background-color: #2244ff;
  border: 1px solid white;
}

input {
  border: 1px solid white;
  color: white;
}

.response {
  padding: 5px;
  /* width: 400px; */
  height: 100px;
  background: white;
}



/* ---- particles.js container ---- */

#particles-js{
  width: 100%;
  height: 100%;
  background-color: #080a3b;
  background-image: url('');
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}


