/* Project-Wilder stylesheet */

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  text-align: center;
  color: white;
	width:100%;
  height:100%;
  background: transparent;
}

div.parent {
  position: relative;
  max-height: 100vh;
  height: 100vh;
  overflow: auto;
  
}

section.searchPage {
  display: block;
  position: absolute;
}

section.collectionPage {
  display: none;
  position: absolute;
}

header, .container {
  background: transparent;
}

.transport {
  margin-top: 100px;
  height: 60px;
  width: 60px;
}

.button {
  margin-top: 5px;
  /* height: 40px; */
  width: 150px;
}

.transport, .button {
  background-color: #2244ff;
  border: 1px solid white;
  color: white;
  text-align: center;
  font-size: 1.2em;
  line-height: 1.5;

}

.waves-effect.waves-blue {
  background-color: #2244ff;
  border: 1px solid white;
}

input {
  border: 1px solid white;
  color: white;
}

.response {
  padding: 5px;
  height: 100px;
  background-color: lightblue;
}




/* ---- particles.js container ---- */

#particles-js{
  width: 100%;
  height: 100%;
  background-color: #080a3b;
  background-image: url('');  
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  z-index: -1;
}



